@font-face {
    font-family: 'sansita_oneregular';
    src: url('sansitaone-webfont.woff2') format('woff2'),
         url('sansitaone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h2 {
	color:white;
	font-size: 300%;
	display: block;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 100px;
	font-family: 'Sansita One', cursive;
	font-weight: bold;
	font-size: 400%;
}

#copyrights a {
	font-size: 8px;
	color: white;
	text-decoration: none;
}

#copyrights {
	font-size: 8px;
	color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-top: 4px solid white;

}


#navbar li {
    display: inline-block;
    margin-left: 5%;
}

#navbar {
	min-width: 1425px;
	-webkit-backface-visibility: hidden;
	background-color: #333;
	list-style-type: none;
    margin-top: -40px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px;
}

#navbar a:hover {
	background-color: black;
	border-radius: 15px;
}

ul.topnav li.icon {display: none;}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
    font-family: Arial, sans-serif;
    font-weight: bold;
}


h3{
	color: white;
}

body {
	background-color: orange;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	font-family: Arial;
}


#images {
	margin: 20px;
	display: inline-block;
}

img {
	box-shadow: 10px 5px 5px black;
	margin: 10px;
	border-radius: 15%;
}

.imgWrap {
  position: relative;
  margin-left: 5%;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  border-radius: 10%;
  text-align: center;
  width: 175px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: bold;


  visibility: hidden;
  opacity: 0;

}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.imgDescription a {
	text-decoration: none;
	color: white;
}

#about_header {
	font-size: 40px;
	color: white;
	font-weight: bold;
}

#empty_left {
	float: left;
	margin-left: auto;
	margin-right: auto;
}

#empty_right {
	float: right;
	margin-left: auto;
	margin-right: auto;
}


.wrapper {
	max-width:500px;
	width:95%;
	margin:0 auto;
	position:relative;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:25px;
}
#contact-form h3 {
	color: orange;
	display:block;
	font-size:28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#contact-form label span {
	cursor:pointer;
	color: orange;
	display:block;
	margin:5px 0;
	font-weight:900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-submit {
	cursor:pointer;
	width:100%;
	border:none;
	background: orange;
	color:white;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-submit:hover {
	background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact-submit:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

blockquote {
	font-family: Arial;
}

.about_me {
	font-size: 125%;
}

h4 {
	font-size: 125%;
}